// ==========================================================================
// General Base styles
// ==========================================================================
// Imports for project

//third party 
@import "partials/h5bp"; 
@import "bourbon/bourbon";
@import "neat/neat"; 
@import "partials/normalize";
@import "partials/slick";

//base materials  
@import "partials/mixins";
@import "partials/typography";

// Establishes box model for site.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-family: "Texta", $sans-stack; 
  font-weight: 500;
  font-style: normal;
  @include clearfix;

  &.fit-page {
    height: 100%;
  }
}

// Shiv Style for IE
header,nav,article,footer,section,main,aside,figure,figcaption{display:block}

.error-page .intro {
  padding: 1em 1.5em 0 1.5em;

  h1 {
    font-size: 3.2em;
  }
}
 
p { 
  line-height: 1.4;
  font-size: 1.1em;
  max-width: 42em; 
} 

article {
  max-width: 35em;
  margin: 2.3em auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  user-select: none;
}

html {  
  min-height: 100%; 
  font-size: 18px; 
  min-width: 17.125em;

  @include mq(48em) {
    font-size: 20px;
  }
}

h1,h2,h3,h4,h5,h6, p, strong, span {
  color: $text;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h2 {
  font-weight: 500;
}

.is-hidden { 
  display: none;
}

strong {
  font-weight: 800; 
}

em {
  font-style: italic;
}

main[role="main"] {
  width: 84%;
  max-width: 68em;
  margin: 0 auto;
  z-index: 1;

  @include mq(36em) {
    width: 86%;
  }

  @include mq(48em) {
    width: 88%;
  }

  @include mq(56em) {
    width: 94%;
  }

  &.full-width {
    width: 100%;
    max-width: none;
  } 
} 

blockquote {
  margin: 0;

  p {
    color: $text-light;
    margin: 0;
  }

  cite {
    color: $text;
    display: inline-block;
    margin-top: 1em;

    @include mq(52em) {
      font-size: .7em;
    }
  }
}
 
input, textarea, select {
  font-weight: 400;
}

dd { 
  margin: 0;
}

ul {
  list-style-type: square;
  padding-left: 2em;

  li {
    margin-bottom: .5em;
  }
}    

.caption {
  font-size: .9em;
  line-height: 1.4; 
  color: $text-light;
  display: inline-block;
  vertical-align: top;

  p {
    color: inherit;
  }

  .example-slider & {
    margin: 0.6em 0 -0.3em 0;
  }
}

// ==========================================================================
// Links and such
// ==========================================================================

a, span.chiclet-button, button.chiclet-button, .nav-icon--mobile { 
  @include transition(color 250ms ease, background-color 250ms ease, box-shadow 250ms ease);
}

.link--highlight {
  position: relative;
  text-decoration: none;
  z-index: 999;
  overflow: hidden; 
  color: $blue;
  @include link-animate(rgba(69, 106, 200, 0.075), $blue, rgba(69, 106, 200, 0.5));

  .no-backgroundsize & {
    color: $blue;
    text-decoration: underline;
    background: none;
  } 
}

.slash-seperator {
  letter-spacing: -0.2em;
  margin: 0 0.4em 0 0.3em;
  opacity: 0.4;
  color: inherit;
}
