// ============================================================
// Topbar styling
// ============================================================
 
header.intro, .insert {
  padding: 1.8em; 
  width: 100%; 
  text-align: left; 
  overflow: hidden; 
  position:relative;

  background-color: $blue; 
  background-image: -webkit-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:    -moz-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:     -ms-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%)); 
  background-image:      -o-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:       radial-gradient(circle at 60% 73%, $blue, shade($blue, 18%));
  border-bottom: 1px solid $blue;
  z-index: 0;
  
  @include clearfix; 
  @include rem(font-size, 1rem); 


  @include box-shadow(inset 0 7px 6px -4px rgba(3,33,67,0.4), inset 0 -6px 6px -4px rgba(3,33,67,0.4));

  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @include mq(37.5em) {
    display: block;
  } 

  @include mq(52em) {
    display: block;
  }

  p {
    line-height: 1.5;
    text-shadow: 1px 1px 1px $dark-blue;

    @include mq(36em) {
      line-height: 1.7;
    }

    @include mq(68em) {
      font-size: 1.3em;
    }

    span {
      color: #fff;
    }
  } 
}

.refresh-trigger {
  display: none;

  @include mq(52em) {
    background-color: #fff;
    border-radius: 50%; 
    @include box-shadow(1px 1px 1px $text);
    opacity: 0;
    display: block;
    cursor: pointer;

    /*! Icon created by Sergey Krivoy for the Noun Project */   
    background-image: url('/img/refresh.png');
    background-size: 65.5%;
    background-repeat: no-repeat;
    background-position: 50%;

    height: 2em;
    width: 2em;

    position: absolute;
    right: 1.5em;
    bottom: 1.5em;

    @include transition(150ms opacity ease-in, 150ms transform $swift-out);
    @include user-select(none);

    &.is-visible {
      opacity: .9;
    }
  }

  @include mq(95em) {
    display: none;
  }
}

.intro__wrapper {
  @include clearfix;
  max-width: 49em;
  margin: 0 auto;
  width: 100%;

  @include mq(52em) {
    margin: 0 0 0 2em;
    max-width: 42em;
  }

  @include mq(80em) {
    max-width: 63em;
  }

  @include mq(95em) {
    position: relative;
    margin: 0 auto;
  }
}

.intro__text--wrapper {
  width: 100%;

  @include mq(68em) {
    @include clearfix;
    margin: 0 auto;
    max-width: 68em;
  }

  .lt-ie9 .intro-main-svg-frame ~ & {
    width: 60%;
  }
}

main.full-width header.intro { 
  @include calc(min-height, '100vh - 3.15em', 100%);
  @include box-shadow(none);
}

.chiclet-button--primary.intro__button {
  margin-top: 1.1em;
  color: #fff;
  background-color: $blue-shade;
  border-color: #fff;
  margin-left: 0;
  max-width: none;
  margin-bottom: 0;
  width: 100%;
  padding: .35em .5em; 
  
  &:hover {
    color: $blue-shade;
    background-color: #fff;
  }

  @include mq(37.5em) {
    padding: .4em 1.4em;
    max-width: none
  }

  @include mq(40em) {
    max-width: 24em;
  }

  @include mq(52em) {
    max-width: 20em;
    margin-top: 1.5em;
    @include order(1);
  } 
}

.intro__header {
  width: 100%;
  white-space: nowrap;
  font-size: 1.1em;

  @include mq(37.5em) {
    width: 70%;
    display: inline-block;
    padding-left: .5em;
  }

  @include mq(52em) {
    padding-left: 0;
  }
}  

.intro__subheader, .intro__main-head, .ssnd h4 {
  color: #fff;
  font-weight: 600;
  margin: 0; 
}

.intro__main-head {
  font-weight: 300;
}

.intro__subheader, .ssnd h4 {
  font-weight: normal;
}

.intro__subheader {
  font-size: .9em;
  font-style: italic;
  text-shadow: 1px 1px 1px $dark-blue;

  @include mq(32em) {
    font-size: 1.1em;
  }

  @include mq(64em) {
    font-size: 1.4em;
  }

  @include mq(68em) {
    font-size: 1.5em;
  }
}

.intro__main-head {
  font-size: 2.8em;
  text-shadow: 2px 2px 3px $dark-blue;

  span {
    color: #fff;
  }

  @include mq(25em) {
    font-size: 3.2em;
  }

  @include mq(30em) {
    font-size: 4em;
  }

  @include mq(32em) {
    font-size: 4.5em;
  }

  @include mq(37.5em) {
    font-size: 4em;
  }

  @include mq(42em) {
    font-size: 5.4em;
  }

  @include mq(58em) {
    font-size: 4.7em;
  }

  @include mq(64em) {
    font-size: 5.2em;
  }

  @include mq(68em) {
    font-size: 6em;
  }
}
 
.intro__text { 
  width: 100%;

  @include mq(37.5em) {
    width: 100%;
    text-align: left;
    display: block;
    margin-top: 1.5em;
  }

  @include mq(52em) {
    margin: .5em 0 0 0;
    @include flexbox();
    @include flex-direction(column);
    width: 100%;
    padding-right: 2em;
  }

  @include mq(64em) {
    padding-right: 0;
  }

  .is-404 ~ & {
    @include mq(48em) {
      width: 60%;
      margin: 0;
      float: left;
    }

    @include mq(56em) {
      width: 70%;
      max-width: 48em;
    } 
  }
}
  
.intro__description {
  color: #fff;
  margin-bottom: 0;

  a {
    color: #fff;
    @include link-animate(rgba(255, 255, 255, .25), #fff);

    .no-backgroundsize & { 
      color: #fff;
      text-decoration: underline;
      background: none;
    }
  }

  @include mq(52em) {
    margin-top: 0;

    @include order(0);
  }
} 

.intro-main-svg-frame {
  border: .5em solid #fff;
  background-color: #fff;
  overflow: hidden;
  width: 11em; 
  height: 11em; 
  margin: 0 auto 1.5em;
  border-radius: 50%;
  display: block;

  @include transition(all 150ms $swift-out);

  @include mq(37.5em) {
    margin: 0 .5em 0 0;
    float: left;
    display: inline-block;
    width: 5em; 
    height: 5em;
  }

  @include mq(37.5em) {
    width: 6.5em; 
    height: 6.5em;
  }

  @include mq(52em) {
    &:not(.is-404) {
      background: none;
      border: 0;
      height: 45em;
      margin: 0 1.5em 0 auto;
      opacity: .3;
      position: absolute;
      right: -9em;
      top: -11em;
      width: 40em;
      z-index: -1;

      $scaleRatio : 32/45;

      &.is-animated {
        @include transform(scale($scaleRatio));
      } 
    }
  }

  @include mq(52em) {
    &.is-404 {
      width: 10em;
      height: 10em;
      margin-right: 2em;
    }
  }

  @include mq(95em) {
    background: #fff;
    border: 0.5em solid #fff;
    float: none;
    height: 12em;
    left: 0;
    margin: 0 .5em 0 0;
    opacity: 1;
    padding: .5em; 
    top: 0;
    width: 12em;
    z-index: 1;

    &.is-animated {
      @include transform(none);
    }
  }

  .lt-ie9 & {
    float: left;
  }
}

nav[role="navigation"] {
  width: 100%;
  background-color: #fff; 
  @include box-shadow(0 2px 4px 0 rgba(3, 33, 67, .4));
  position: relative; 
  z-index: 3;
  font-size: .9em;
  height: 3.5em;
  @include transition(height $swift-out 150ms);
  overflow: hidden;

  &:after {
    content: '';
    width: 100%;
    display: block;
    height: 3.4em;
    position: absolute;
    top: 0;
    padding-right: 100%;
    background-color: #fff;
    z-index: -1;
  }

  &.is-active {
    height: 13.7em;
  }
} 

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;

  @include mq(37.5em) {
    width: auto;
    z-index: 1;
    height: 3.4em;
    margin-right: 1em;
  }

  .no-js & {
    width: auto;
    z-index: 1;
  }
}

.nav-list-item {
  margin: 0;
  padding: 0;
  border-top: 1px solid $blue-tint;
  display: block;
  vertical-align: middle; 
  @include rem(font-size, 1.1rem);
  padding: 0.6em 0.7em; 
  @include transition(background-color $swift-out 150ms);

  @include mq(37.5em) {
    display: inline-block;
    border: 0;
  }

  .no-js & {
    display: inline-block;
    border: 0;
  }

  .lt-ie9 & {
    float: left;
    width: 4em;
  }

  &:hover {
    background-color: $blue-tint;
    cursor: pointer;

    @include mq(37.5em) {
      background-color: transparent;
      cursor: auto;
    }

    .no-js & {
      background-color: transparent;
      cursor: auto;
    }
  }
}

.nav-logo { 
  height: 3.5em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0.4em;
}

.nav-logo-link {
  position: absolute;
  top: -.05em;
}

.nav-icon--mobile {
  background-color: $blue;
  border: 1px solid $blue;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: .075em .25em;
  position: absolute;
  top: 0.5em; 
  right: 0.5em;
  width: 3.1em; 

  @include box-shadow(1px 1px 3px 0 rgba(0,0,0,0.15));
  @include transform(translate3d(0,0,0));
  @include user-select(none);
  
  &:before,
  &:after,
  .nav-icon__text {
    content:'';
    background: #fff; 
    display:block;
    height: 4px;
    margin: 6px 0;
    width:100%;
    @include transition(transform $swift-out 150ms, opacity $swift-out 150ms);
  }

  .nav-icon__text  {
    text-indent: -9999px;
  }

  &:hover {
    background-color: shade($blue, 20); 
  }

  .no-js & {
    display: none;
  }

  @include mq(37.5em) {
    display: none;
  }
}

.is-active > .nav-icon--mobile {
  .nav-icon__text {
    opacity: 0;
  }

  &:before {
    @include transform(translate3d(0,10px,0) rotate(45deg));
  }

  &:after {
    @include transform(translate3d(0,-10px,0) rotate(-45deg));
  }
}

// ============================================================
// SVG Styling
// ============================================================

.logo-bar, .logo-block {
  fill: $blue-tint; 
  stroke: $blue;   
  stroke-width: .5pt; 
  stroke-linejoin: bevel;

  @include mq(52em) {
    fill: $blue-shade;
    stroke: #fff;
  }

  @include mq(95em) {
    fill: $blue-tint; 
    stroke: $blue;    
  }

}
 
.intro-main-svg-icon {
  svg {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  // Fallback image
  img {
    width: 100%;
  }
}

.intro-main-svg-frame {
  .logo-404 {
    width: 100%;
    margin-top: 0.7em;
  }
}

// ============================================================
// Chiclet Button
// ============================================================

.chiclet-button {
  font-weight: 500; 

  text-decoration: none;
  text-align: center;

  margin: 1em auto 0;
  display: block;
  width: 100%;
  max-width: 22em;
  padding: .35em 0;

  border-radius: 4px;
  border: 1px solid $blue;
  color: #fff;
 
  cursor: pointer;

  background-color: $blue;

  @include box-shadow(1px 1px 3px 0 rgba(0,0,0,0.15));

  font-size: 1em;

  &:hover {
    background-color: shade($blue, 20); 
  }

  &.disabled {
    background-color: transparent;
    border: 1px solid #afafaf; 
    color: #afafaf;
    pointer-events: none; 
  }
}

.chiclet-button--primary {
  width: auto;
  display: block;
  max-width: none;
  margin: 3em 4em;
  padding: .5em 1.25em;

  .lt-ie10 & {
    margin: 0 0 1em 0;
  } 
}

// ============================================================
// Contact Form
// ============================================================

.contact {
  @include clearfix;
}

.contact-form__container {
  width: 100%;
  position: relative;
  margin: 0 0 2.5em;

  @include mq(52em) {
    width: 60%;
    float: left;
    margin-right: 4em;
  }

  @include mq(70em) {
    margin-right: 2.2em;
  }

  .chiclet-button {
    @include mq(36em) {
      margin-left: 0;
    }
  }
}

.contact-form__container {
  position: relative;
  @include clearfix;

  legend {
    max-width: 100%;
  }
}

.has-loader:before {
  content: '';
  background: #fff; 
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -1%;
  opacity: 0;
  @include transition(opacity 250ms $swift-out);
}

.has-loader.is-loading:before {
    opacity: .8;
    width: 101%;
    height: 102%; 
}

.loader-overlay {
  position: absolute;
  width: 100%;
  height: 100%; 
  background-color: rgba(255,255,255,.8);
  top: 0;
  left: 0;
  border-radius: 2px;
  display: none;
}

.loader {
  width: 7em; 
  height: 7em;
  display: none;
  position: absolute; 
  @include calc(top, "50% - 3.5em", 40%);
  @include calc(left, "50% - 3.5em", 40%);
  border-radius: 50%;
  border: .15em solid $blue;
  border-left-color: transparent;

  -webkit-animation: spin-loader 750ms infinite linear;
  animation:         spin-loader 750ms infinite linear;
}

.lazyload-container {
  position: relative;
  width: 100%;
  min-height: 8em;
}

.loader--image-preloader {
  width: 4em;
  height: 4em;
  display: block;

  @include calc(top, "50% - 2em", 40%);
  @include calc(left, "50% - 2em", 40%);
}

@-webkit-keyframes spin-loader {
  0% {   -webkit-transform: rotate(0deg);   transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
 
@keyframes spin-loader {
  0% {   -webkit-transform: rotate(0deg);   transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

label, fieldset { 
  display: block;
  line-height: 1.4;
  margin-top: 1.3em;
}

fieldset {
  margin-bottom: -.25em;
}

h3 {
  font-size: 2.5em;
  font-weight: 500;
  @include rem(margin, 1rem 0 0);
}

label:first-of-type {
  margin-top: .8em;
}

input {
  @include rem(font-size, 1.1rem);
  width: 100%;
  @include rem(min-height, 2rem);
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include rem(padding, 0 0.5rem);
  display: block;
  border: 1px solid #B9B9B9;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-top: .2em;
  outline: 0;
  max-width: 26em;

  &:focus {
    border-color: lighten($blue, 15%);
    box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(lighten($blue, 15%), 0.7);
    outline: 0;
  }
}

textarea {
  max-width: 33em;
  @include rem(padding, .5rem .6rem);
}

.contact-options {
  @include clearfix;
}

.contact-options label {
    display: inline-block;
    width: auto;
    margin: .5em 2em .5em 0;
    height: 1em;
    cursor: pointer;
} 

input[type="radio"], input[type="checkbox"] { 
  width: auto;
  height: auto;
  @include rem(margin-right, .5rem);
  display: inline-block;  
} 

.input-note {
  color: $text-light;
  display: block;

  & + p {
    width: 100%;
    max-width: 37em;
  }

  .chiclet-button + & {
    margin-top: 1em;
    font-style: italic;
    font-size: 1em;
  }
} 

textarea {
  width: 100%;
  @include rem(font-size, 1.1rem);
}

button.chiclet-button {
  margin-top: 1.5em;
}

small.error {
  color: darken($error-color, 45%);  
  display: block;
  clear: left;
  @include transition(max-height 250ms $swift-out);
  max-height: 2em;

  &.is-hidden {
    max-height: 0;
  }
}
 
label.error { 
  input, textarea {
    background-color: lighten($error-color, 5%);
    border-color: darken($error-color, 25%);

    &:focus {
      border-color: darken($error-color, 40%);
      box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(darken($error-color, 30%), 0.7);
      outline: 0;
    }

    &:hover {
      border-color: darken($error-color, 40%);
    }
  }
}

.about {
  width: 100%;
  @include rem(margin, 1rem 0);

  @include mq(52em) {
    width: 29%;
    float: left;
  }
}

.about__mug {
  width: 100%;
  max-width: 8em;
  float: right;
  margin: 3em 0 1em 1em;

  @include mq(28em) {
    max-width: 10em;
  }

  @include mq(36em) {
    max-width: 11em;
  }

  @include mq(52em) {
    float: none;
    max-width: none;
    height: auto;
    margin: 0;
  }
}

.about__mug img {
  max-width: 8em;
  border-radius: 50%; 
  width: 100%;

  @include mq(28em) {
    max-width: 10em;
  }

  @include mq(36em) {
    max-width: 11em;
  }

  @include mq(52em) {
    max-width: none;
    height: auto;
  }
}

// ============================================================
// Home page styling
// ============================================================

.section-header {
  margin: .3em auto; 
  font-size: 3.1em;
  font-weight: 300;
  text-align: center;  

  @include mq(28em) {
    font-size: 2.7em;
  }

  @include mq(36em) {
    font-size: 3.2em;
    margin-left: 0;
    margin-right: 0;
  }

  @include mq(60em) {
    font-size: 3.8em;
    margin: .4em auto; 
  }
}

.section-main-image {
  margin-bottom: 1.5em;
}

.section-content {
  margin: 0 0 2.5em;

  @include mq(52em) {
    margin-left: 3%;
  }
} 

.section-text {
    p:first-child { 
      margin-top: 0;
    }
}

.portfolio--case-study {
  p:first-child {
    margin-top: 0;
  }

  .chiclet-button {
    margin-top: 1.5em;

    .lt-ie10 & {
      float: left;
    }
  }
} 

.portfolio--case-study--description {
  @include clearfix;
  width: 100%;
  max-width: 68em; 
}

.portfolio { 
  border-bottom: 1px solid $blue-tint;
  clear: both;
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 9px;
    height: 9px;
    border: $blue-tint 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    box-shadow: #FFF 0 0 0 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.jack, .ssnd {
  border-bottom: 0;

  &:after {
    content: none !important;
  }
}

// ============================================================
// Checkout styling
// ============================================================

.checkout {
  @include clearfix;

  figure {
    margin: 0 auto 2em;
    width: 95%;

    @include mq(37.5em) {
      @include flexbox; 
    }
  }

  figcaption {
    @include mq(37.5em) {
      @include flex(0 1 auto);
    }

    a {
      margin: 0;
    }
  }
}

.checkout__image {
  max-width: 10em;
  margin: 0 auto 1.5em;
  width: 100%;
  height: 100%;
  max-width: 10em;
  display: block;

  @include mq(26em) {
    max-width: 12em;
  }

  @include mq(32em) {
    float: left;
    margin-right: 5%;
    max-width: 10em;
  }

  @include mq(37.5em) {
    min-width: 8.5em;
    max-width: 15em;
    width: 20%;
  }

  @include mq(68em) {
    width: 25%;
    float: none;
    margin: 0 3em 0 3.3em;
  }

  img {
    width: 100%;
  }
}

.checkout-compare__example {
  position: relative;
  margin-bottom: 3em;
}

.checkout-compare {
  @include transition(opacity 500ms $swift-out);
  opacity: 0;

  @include mq(65em) {
    @include flexbox;
    margin-right: -16vw;
  }

  &.is-transparent {
    position: absolute;
    top: 0;
    left: 0;
  }

  &.is-visible {
    opacity: 1;
  }

  .lt-ie9 &.is-before {
    display: none;
  }

  .lt-ie9 &.is-after {
    position: relative;
  }
}

.link--trigger {
  cursor: pointer;

  @include mq(65em) {
    position: absolute;
    top: -4em;
  }

  .no-js &, .lt-ie9 & {
    display: none;
  }
}

.checkout-compare__image {
  width: auto;

  @include mq(65em) {
    margin: 0 2em 0 -8vw;
  }

  img {
    border: 1px solid tint($text, 70%);
    width: 100%;
    max-width: 608px;
  }
}

.checkout-compare__caption {
  margin-top: 1.5em;
  padding-top: 1em;
  border-top: 2px solid $blue;
  
  @include mq(65em) {
    @include flex(0 1 auto);
    padding: 0;
    margin: 3.8em 0 0 0;
    max-width: 12em;
    position: relative;
  } 

  @include mq(72em) {
    max-width: 16em;
    margin: 3.5em 0 0 0;
  }

  .lt-ie10 & {
    margin: 5.5em 0 0 0;
  }

  p {
    display: inline;

    @include mq(65em) {
      display: block;
    }
  }
}

.inset-figure {
  width: 100%;
  float: left;
  margin-bottom: 1em;

  @include mq(32em) {
    width: 60%;
  }

  @include mq(48em) {
    margin: 0;
  }

  img {
    width: 100%;
  }
}

.inset-figure__caption {
  width: 90%;
}

.card-mask {
  @include clearfix;

  @include mq(32em) {
    width: 55%;
  }

  @include mq(48em) {
    margin: 0 1em 0 0;
  }

  img {
    margin: 0 0 0 -.5em;
  }
}

.satisfaction h3 {
  @include user-select(none);
  display: inline-block;
  font-weight: 300;
  font-size: 14em;
  margin-top: 0;

  @include mq(40em) {
    font-size: 18em;
  }

  @include mq(48em) {
    font-size: 20.4em;
  }
}

.satisfaction__number {
  line-height: 0.7;
  display: block;
  color: $blue;
  margin-left: -7px;

  @include mq(48em) {
    margin: -12px 0 0 -14px;
  }

  span {
    color: $blue;
    @include transform(rotate(2deg));
    display: inline-block;
  }
}

.satisfaction__text {
  font-weight: 700;
  display: block;
  color: $text-light;
  margin: -.2em 0 .1em 0;
  @include rem(font-size, 4.3rem);

  @include mq(40em) {
    @include rem(font-size, 5.5rem);
  }

  @include mq(52em) {
      @include rem(font-size, 6.3rem);
  }
}

// ============================================================
// SSND styling
// ============================================================

.ssnd .section-main-image {
  max-width: 17em; 
  padding: .5em .5em .2em .5em;
  border-radius: .5em;
  background-color: #fff;
  @include box-shadow(2px 2px 6px 0 rgba(0, 0, 0, 0.35));
  margin: 0 1em 1em 0;
  float: left;
  min-height: 5em;
  @include transition(background-color 175ms $swift-out);

  @include mq(60em) {
    display: inline-block;
  }

  &:hover {
    background-color: lighten($blue-tint, 5);
  }

  img {
    width: 100%;
  }
}

.ssnd-link {
  text-decoration: none;

  span {
    margin: -0.4em 0 .25em 3.7%;
    display: block;
  }
}

.ssnd .insert-description {
  @include mq(60em) {
    @include calc(width, "100% - 18em", 50%);
    display: inline-block;
  }

  p {
    font-size: 1.1em;
  }
}

.insert {
  display: block;
  margin: 2em 0 2em -3.2%;
  width: 106.4%;

  p {
    color: #fff;
  }
}

.insert-header {
  color: #fff; 
  text-shadow: 1px 2px 2px $dark-blue;
  margin: 0 0 .5em;
  font-size: 2.8em;
  text-align: center;
}

.insert-description {
  max-width: 58em;
  margin: 0 auto;

  p { 
    margin-left: auto;
    margin-right: auto;
  }
}

// ============================================================
// JACK. & graphic styling
// ============================================================

.example {
  .section-text {
    display: inline-block;
    vertical-align: top;

    @include mq(36em) {
      display: inline;
    }

    @include mq(52em) {
      display: inline-block;
      vertical-align: top;
      @include calc(width, "100% - 22em", 52%);
    }
  }

  .example-slider { 
    width: 100%;
    margin: 0 auto 1.5em; 
    max-width: 18em;

    @include mq(36em) {
      float: left;
      max-width: 12em;
      margin: 0 2em 0 auto;
      @include clearfix;
    }

    @include mq(56em) {
      float: none;
      max-width: 17em;
      margin: 0 0 0 2em;
      display: inline-block;
    }
  }
}

.graphic .section-content, .jack .section-content {
  @include mq(52em) {
    @include flexbox;
  }

  .section-text {
    @include mq(52em) {
      float: none;
      @include order(1);
    }
  }
  .example-slider {
    @include mq(52em) {
      float: none;
      margin: 0 0 0 2em;
      @include order(2);
    }
  }
}

// IE Overrides

.lt-ie10 {
  .checkout__image, .graphic .example-slider, .jack .example-slider {
    float: left;
    margin-right: 32px;
  }
}

// ============================================================
// Hundred Ages styling
// ============================================================

.ages, .rdes {
  figure {
    width: 100%;

    @include mq(52em) {
      @include flexbox;
    }
  }

  figcaption {
    width: 100%;

    @include mq(52em) {
      max-width: 20em;
    }

    a {
      margin-left: 0;
    }
  }

  .lt-ie9 &, .no-js & {
    .portfolio-image {
      display: none;
    }

    figcaption {
      margin: 0 auto;
      text-align: center;
      max-width: 22em;

      .chiclet-button {
        margin: 1.5em auto;
        float: none;
      }
    }
  }
}

.ages .section-main-image {
  @include mq(52em) {
    @include order(1);
    @include flex(0 1 auto);
  }
}

.ages figcaption {
  @include mq(52em) {
    @include order(2);
    margin: 0 2em;
  }
}

.rdes .section-main-image {
  @include mq(52em) {
    @include order(2);
    @include flex(0 1 auto);
    margin: 0 2em;
  }
}

.rdes figcaption {
  @include mq(52em) {
    @include order(1);
  }
}

// ============================================================
// Device Screenshot Examples
// ============================================================

.portfolio-image {
  display: inline-block;
  border-radius: 4px; 
  border: 1px solid lighten(#96a0a2, 10%);
  position: relative;

  img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
}

.device__frame {
  display: inline-block;
  @include clearfix;

  &.responsive-image {
    margin: 0 auto;
    float: none;
    display: block;

    @include mq(37.5em) {
      float: left;
      width: 12.5em; 
      margin: 0 1.5em 0 0;
    }

    @include mq(48em) {
      margin-left: -2em;
    }

    @include mq(58em) {
      margin-left: -6em;
    }
  }
}

.device__caption {
  width: auto;
  display: inline-block;
  font-size: .9em;
  color: #737373;
  margin-bottom: 1em;
}

.device__image {
  @include clearfix;
  float: left;
  width: 100%;
  @include rem(margin, .35rem 0 1rem 0);
}

// ============================================================
// Case Study Styling
// ============================================================

#headlineNumber { 
  width: 1.45em;
  display: inline-block;
  text-align: right;
  opacity: 0;

  &.is-active {
    opacity: 1;
    @include transition(opacity 120ms $swift-out);
  }

  .no-js & {
    opacity: 1;
  }
}

.intro.case-study__header {
  text-align: center;
  padding: 1.8em 1em;

  @include mq(32em) {
    text-align: left;
  }

  @include mq(48em) {
    padding: 1em 1.8em 1.8em 1.8em;
  }

  .header__intro {
    float: left;
    width: auto;
    @include rem(font-size, 1rem);
  }

  .intro__subheader {
    display: block;
    font-size: 2em;
    margin-top: 0.1em;
  }

  .intro__description {
    float: left;
    max-width: 46em;
    @include rem(font-size, 1.2rem);
    line-height: 1.4;
    text-shadow: 1px 1px 1px $dark-blue;

    @include mq(58em) {   
      width: 19em;
      margin: 1.05em 0 0 2.4em;
      line-height: 1.5;
    }
    
    @include mq(65em) {
      width: 23em;
      margin: 1.6em 0 0 2em;
    }
  }

  .intro__main-head {
    line-height: 1;

    @include mq(25em) {
      font-size: 3em;
    }

    @include mq(30em) {
      font-size: 3.5em;
    }

    @include mq(37.5em) {
      font-size: 5.7em;
    }

    @include mq(58em) {
      font-size: 3.5em;
    }

    @include mq(64em) {
      font-size: 4em;
    }

    @include mq(70em) {
      font-size: 5.6em;
    }
  }
}

.checkout-case-study .case-study__header {
  padding: 1em;
  min-height: 11em;

  @include mq(52em) {
    padding: 0 0 0 2em;
  }

  @include mq(62em) {
    padding: 0;
  }
}

.case-study__header__h-group {
  z-index: 2;
  position: relative;
  width: 100%;

  @include mq(48em) {
    width: 100%;
  }

  @include mq(68em) {
    font-size: 1.1em;
  }
}

.h-group__main__container {
  text-align: center;
  width: 100%;

  @include mq(36em) {
    text-align: left; 
  }

  @include mq(62em) {
    text-align: center;
  }
}

.h-group__main {
  display: inline-block;
  font-weight: 300;
  font-size: 2.5em;
  line-height: .7;
  text-shadow: 2px 2px 3px $dark-blue;
  margin: 0.25em 0 -0.02em 0;

  @include mq(28em) {
    font-size: 3em;
  }

  @include mq(32em) {
    font-size: 3.4em;
  }

  @include mq(36em) {
    font-size: 3.8em;
  }

  @include mq(42em) {
    font-size: 4.1em;
  }

  @include mq(48em) {
    font-size: 4.4em;
  }

  @include mq(54em) {
    font-size: 5em;
  }

  @include mq(58em) {
    font-size: 6em;
    margin-top: .15em;
  }

  span {
    color: #fff;
    text-shadow: 2px 2px 3px $dark-blue;
  }

  .number {
    display: inline-block;
    vertical-align: top;
    line-height: 0.85;
  }
}

.h-group__description {
  display: inline-block;
  margin: .6em auto;
  position: relative;
  text-shadow: 1px 1px 3px $dark-blue;
  line-height: 1.35;
  font-size: 1.2em;
  text-align: center;

  @include mq(32em) {
    font-size: 1.3em;
  }

  @include mq(36em) {
    text-align: left;
  }

  @include mq(52em) {
    font-size: 1.5em;
  }

  @include mq(58em) {
    font-size: 1.6em;
  }

  @include mq(62em) {
    text-align: center;
    width: 100%;
  }

  span {
    color: #fff;
    display: inline;

    @include mq(48em) {
      display: block;
    }
  }
}

#checkoutCaseGraphic {
  width: 100%;
  height: 100%; 
  position: absolute;
  top: 0; 
  left: 0; 
  z-index: 1;
}

.dot {
  position: absolute;
  background: $blue-shade;
  border: 1px solid $blue-tint;
  border-radius: 50%;

  @include transition(opacity 1457ms ease-in-out);

  &:nth-child(3n) {
    @include transition(opacity 1125ms ease-in-out);
  }

  &:nth-child(5n) {
    @include transition(opacity 1284ms ease-in-out);
  }

  &:nth-child(8n) {
    @include transition(opacity 1333ms ease-in-out);
  }

  &:nth-child(12n) {
    @include transition(opacity 927ms ease-in-out);
  }

  &:nth-child(16n) {
    @include transition(opacity 1652ms ease-in-out);
  }
}

.case-study__title--number { 
  width: 2.1em;
  display: inline-block;
  text-align: right;
  margin-right: .1em;
  @include transition(opacity 500ms ease-in);
  opacity: 0;
}

.case-study__subhead {
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 3px $dark-blue; 
  font-size: 1.6em;
  padding: .7em 1em 0;
  clear: left;

  @include mq(36em) {
    font-size: 1.3em;
  }
}

.is-active {
  opacity: 1;
}

.age {
  display: inline-block;
  color: $blue-tint;
  text-shadow: 1px 1px 1px $blue; 
  background-color: $blue-shade;
  border-radius: 50%;
  text-align: center;
  padding-top: 0.6em;
  position: absolute; 
  @include transition(opacity 500ms ease-in);
  opacity: 0;
  z-index: -2;
  pointer-events: none;

  width: 2.5em;
  height: 2.5em;
  font-size: .75em;

  @include mq(36em) {
    font-size: 1.3em;
  }

  &.is-active {
    opacity: 0.4;
  }

  .no-js & {
    opacity: 0.4;
  }
} 

.age--1 {
  top: -4%;
  right: 40%;
}

.age--2 {
  top: 15%;
  left: 2%;
}

.age--3 {
  top: 5%;
  left: 27%;
}

.age--4 {
  right: 3%;
  bottom: 7%;
}

.age--5 {
  bottom: 4%;
  right: 35%;
}

.age--6 {
  bottom: 5%;
  left: 13%;
}

.age--7 {
  top: 8%;
  right: 10%;
}

.age--8 {
  bottom: 16%; 
  right: 54%;
} 

.age--9 { 
  top: 51%;
  right: 18%;
}
 
// ============================================================
// Article Styling
// ============================================================

.article__image {  
  width: 100%;
  margin: 1em 0 2em;
  float: right;

  img {
    width: 100%;

    @include mq(32em) {
      width: 60%;
      float: left;
    }

    @include mq(40em) {
      width: 70%;
    }
  } 
}

.article__quotes {
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  position: relative;

  li {
    display: inline-block;
    vertical-align: top;
    font-size: 1.7em;

    @include mq(55em) {
      font-size: 1em;
    }
  }

  blockquote {
    margin: 0;
  }
}

.lt-ie9, .no-js {
  // hide slider content

  .image--nav__slider li, .image--main__slider li {
    display: none;
  
    &.is-fallback {
      display: block;
    }
  }
}

.article__quotes .slick-list {
  margin: 0 3em;
}

.slick-next, .slick-prev {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  top: 24%;
  cursor: pointer;
  background-color: $blue;
  border-radius: 50%;
  @include transition(background-color 100ms $swift-out);

  &:hover {
    background-color: tint($blue, 12%);
  }

  &:active {
    background-color: tint($blue, 24%);
  }

  img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

.image--nav__slider, .image--main__slider {
  list-style-type: none;

  &:not(.slick-slider) {
    display: none;
  }
}

.image--main__slider li {
  margin-bottom: 0;
}

.image--main__slider figure {
  background: #fff;
  padding-bottom: .5em;
}

.image--main {
  width: 100%;
  height: auto;
  list-style-type: none;
  border: 1px solid lighten($text-light, 45%);
  margin: 0;
}

.image--nav {
  max-width: 100%;
  height: auto;
  width: auto;
  border: 1px solid lighten($text-light, 45%);
  margin: 0 -1px; // Slick incorrectly calcs width if border is applied, this offsets that.
}

.image--nav__slider {
  padding: 0 2.6em;
  margin: 0.8em 0 0 0;

  @include mq(36em) {
    padding: 0 2.1em;
  }
}

.image--nav__slider .slick-slide {
  margin-left: 8px;
  cursor: pointer;
  opacity: .6;
  @include transition(opacity 120ms $swift-out);
  
  @include mq(36em) {
    opacity: 1;
  }

  &.slick-center {
    opacity: 1;
  } 
}

.image--nav__slider .slick-active ~ .slick-slide {
  @include mq(36em) {
    opacity: .6; 
  }
}

.image--main__slider {
  margin: 0;
  padding: 0 0 0.3em 0;
  border-bottom: 1px dotted darken($blue-tint, 5%);
}

.image--main__slider li {
  border: 1px solid lighten($blue-tint, 20%);
}

.graphic .image--main {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.variable-height figure {
  @include flexbox;
  @include flex-direction(column);
  height: 21.5em;
}

.variable-height__container {
  background-color: #fff;
  @include flex(1, 1, 0);
  @include flexbox;
  @include align-items(baseline);
  @include justify-content(center);

  div {
    width: 100%;
    max-height: 16.6em;
  }

  .image--main {
    max-height: 16.6em;
    border: none;
  }
}

.slick-prev {
  top: 30%;
}

.slick-next {
  top: 30%;
}

.article__quote {
  padding: 1em 0;
  border-top: 2px solid $blue; 
  width: 100%; 
  margin: 2em 0 0;

  @include mq(32em) {
    width: 30%;
    float: left;
    margin: 0 0 0 5%; 
  }

  @include mq(40em) {
    width: 26%;
    margin-left: 4%;
  }

  p {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

.article__quote--featured {
  text-align: left;
  font-size: .9em;
  margin: 0;

  p {
    font-size: 1em;
    line-height: 1.8;
  }

  @include mq(55em) {
    margin: 1.5em 8%;
    text-align: center;
    font-size: 1.1em;
    margin: 1em -5%;
    text-align: center;

    p {
      font-size: 1.1em;
      line-height: 2;
    }
  }

  @include mq(63.75em) {
    font-size: 1.3em;
    margin: 1.5em -17%;
    text-align: center;
  }
}

.infobox {
  margin: 0;
  padding: 1.3em 0 1.9em;
  font-size: .9em;
  border: solid $blue; 
  border-width: 1px 0;
  margin: 0 0 1.7em 0;

  @include mq(30em) {
    font-size: 1em;
  }

  @include mq(37.5em) {
    margin: 0 0 1em 3em;
    padding: 0 0 0 1.7em;
    float: right;
    border-width: 0 0 0 2px;
    max-width: 18em;  
    font-size: .9em;
  }

  @include mq(54em) {
    margin-right: -10%;
  }

  @include mq(62em) {
    margin-right: -20%;
    max-width: 20em;
  }

  dl {
    margin-bottom: 0;  
  }
  dd {
    margin-top: .25em;
  } 
  ul {
    margin-top: 0;
  }
}

.infobox--header {
  font-weight: 500;
  font-size: 1.3em;
  margin: 0 0 .5em;
}

.infobox--subheader {
  font-weight: bold;
  margin-top: 1em;
}

// ============================================================
// Footer Styling
// ============================================================

.site-footer {
  background-color: $blue;
  position: relative;
  @include rem(font-size, 1rem); 
  width: 100%;
  height: 8em;
  @include box-shadow(inset 0 7px 7px -5px rgba(3, 33, 67, 0.4));

}

.site-footer ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ffffff;

  li {
    margin: 0 0 .25em 0;

  }
 
  a {
    color: #ffffff;
  }
}

.footer-contact {
  text-align: right;
  position: absolute;
  top: 1.2em;
  right: 5%;
  padding: 0;
}

.site-footer {

  ul {
    float: none;
  }

  a.link--highlight {
    color: #fff;
    @include link-animate(rgba(255, 255, 255, .25), #fff);

    .no-backgroundsize & {
      color: #fff;
      text-decoration: underline;
      background: none;
    }
  }
}

.site-footer, header.intro {
  .email-link {
    color: #fff;
  }
}